* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', 'sans-serif';
}

.icons {
    background: #000000;
    text-decoration: none;
    color: #ffffff;
}

.icons a {
    font-size: 20px;
    transition: color 1s ease;
    color: #ffffff;
}

.icons a:hover {
    color: rgb(1, 126, 134)
}

.number {
    /* display: flex; */
    color: white;
    margin-right: 10px;
    margin-left: 20px;
}

.number-icons {
    margin-right: 6px;
    margin-left: 20px;
    color: white;
    font-size: 15px;
}

.nav-btn {
    margin: 0px 9px;
    background-color: green;
    color: white;
    padding: 4px 14px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}


/* Navbar */

.navbar {
    background: white;
    padding: 10px 20px;
    transition: padding 2s ease;
}

.navbar-toggler {
    padding: 3px;
}

.navbar-toggler {
    outline: none!important;
}

.nav-link {
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 2s ease;
}

.nav-link:hover {
    background: rgb(1, 126, 134);
    color: black;
}

.nav-active {
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(9, 228, 75, 0.322);
    transition: background 2s ease;
}

.nav-active:hover {
    background: green;
}


/* End of Navbar */


/* Carousel */


/* #carousel {
    width: 100%;
} */

h1 {
    font-weight: bold;
    text-align: center;
}

.para {
    font-size: 25px;
}

.btn-main {
    background: white;
    color: rgb(1, 126, 134);
    border-radius: 10px 20px;
}

.btn-main {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(1, 126, 134);
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 0 100%;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
    transform: skew(-10deg);
    color: rgb(1, 126, 134);
    font-weight: bold;
}


/* End of Carousel */


/* About Us */

.about-us-image {
    text-align: right;
}

.about-container {
    margin: 40px;
    display: flex;
    padding-top: 8vmin;
}

.h-primary {
    padding: 12px;
}

#aboutus p {
    font-size: 18px;
    color: lightseagreen;
}

.btn-about {
    padding: 6px 20px;
    border: 2px solid cadetblue;
    margin: 10px;
    font-size: 15px;
    background-color: lightblue;
    color: rgb(1, 126, 134);
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(1, 126, 134);
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 0 100%;
}

.btn-about:hover,
.btn-about:focus,
.btn-about:active {
    transform: skew(-10deg);
    color: rgb(1, 126, 134);
    font-weight: bold;
}


/*End of About Us*/


/* Our Advantage */

#advantages {
    padding-top: 8vmin;
}

#advantages .far {
    color: rgb(1, 126, 134);
}

#advantages .fas {
    color: rgb(1, 126, 134);
}

.icon-back {
    background-color: #eee;
    padding: 30px 40px;
    border-radius: 50%;
}


/* End of Our Advantage */


/* Services */

#services .fas {
    color: rgb(1, 126, 134);
}

.services-area {
    padding: 8vmin;
}

.services-area .services-title {
    padding: 0 14rem;
}

.services-area .services-title h1 {
    font-size: 35px;
}

.services-area .services {
    background: rgba(235, 247, 250, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.services-area .services:hover {
    background-color: rgb(203, 232, 235);
}


/* End of services */


/* Porfolio */

#portfolio {
    padding-top: 8vmin;
    padding-bottom: 4vmin;
}

.port {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.port>img {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
    width: 240px;
    height: 200px;
}


/* End of Portfolio */


/*Reviews */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 8vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22em;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.section-4 .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
}

.section-4 .carousel-indicators .active {
    background-color: #444;
}

.section-4 .carousel-control-prev {
    filter: invert(1);
}

.section-4 .carousel-control-next {
    filter: invert(1);
}


/*End of Reviews*/


/*Process*/

#process {
    padding-top: 8vmin;
    /* padding-bottom: 30vmin; */
}

.pics {
    margin-top: -12px;
}

.pics5 {
    position: absolute;
    margin-top: -14px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.pics1 {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -19px;
    background-color: rgba(252, 116, 5, 0.61);
}

.pics10 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: -16px;
    background-color: rgb(252, 116, 5);
}

.pics3 {
    position: absolute;
    width: 150px;
    align-items: center;
    margin-top: -170px;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px;
}

.pics13 {
    /* position: absolute; */
    width: 150px;
    align-items: center;
    margin-top: 45px;
    text-align: center;
    margin-left: -15px;
    margin-right: 10px;
}

.pics30 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 150px;
    align-items: center;
    margin-top: -110px;
    text-align: center;
    margin-left: -14px;
    font-size: 60px;
    color: rgb(1, 126, 134);
    /* margin-right: 10px; */
}

.adv_icon2 {
    background-color: rgba(228, 227, 227, 0.795);
    height: 180px;
    width: 220px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(236, 11, 11);
}

.adv_icon20 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(236, 11, 11);
}


/* 
.web {
    text-align: center;
    color: #000;
}

.web1 {
    font-size: 12px;
    text-align: center;
    color: rgb(133, 132, 132);
}

.web11 {
    text-align: center;
    color: #000;
    font-size: 14px;
}

.web10 {
    font-size: 10px;
    text-align: center;
    color: rgb(133, 132, 132);
} */


/*End of Process*/


/* Skills */

#skills {
    padding-top: 8vmin;
}

.ui-vlue {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    font-size: 2.2rem;
}

.ui-widget1 {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.0rem;
    border: 1.2rem solid orange;
    text-align: center;
    border-radius: 8rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom-color: #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    box-sizing: border-box;
}

.ui-widget2 {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.0rem;
    border: 1.2rem solid orange;
    text-align: center;
    border-radius: 8rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom-color: red;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: red;
    box-sizing: border-box;
}

.ui-widget3 {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.0rem;
    border: 1.2rem solid orange;
    text-align: center;
    border-radius: 8rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom-color: green;
    border-top-color: green;
    border-right-color: #fff;
    border-left-color: green;
    box-sizing: border-box;
}

.ui-widget4 {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.0rem;
    border: 1.2rem solid orange;
    text-align: center;
    border-radius: 8rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom-color: black;
    border-top-color: black;
    border-right-color: white;
    border-left-color: black;
    box-sizing: border-box;
}

.form {
    background-color: rgb(1, 126, 134);
    height: 150px;
    padding-top: 20px;
    margin-top: 60px;
}


/* Our Skills */


/* Packages */

#packages {
    padding-top: 8vmin;
}

ul {
    list-style: none;
}

.packages .card {
    background-color: rgba(235, 247, 250, 0.973);
    ;
}

.packages .card:hover {
    background-color: rgb(203, 232, 235);
}

.btn-package {
    padding: 6px 20px;
    border: 2px solid cadetblue;
    margin: 10px;
    font-size: 20px;
    background-color: lightblue;
    color: rgb(1, 126, 134);
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(1, 126, 134);
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 0 100%;
    text-decoration: none;
}


/* End of packages */


/* Contact Us */

#contact {
    padding-top: 8vmin;
}

.contact-us .title-border {
    content: "";
    width: 30%;
    height: 2px;
    display: block;
    background: block;
    background-color: rgb(1, 126, 134);
    border-radius: 50%;
    margin: 1%;
    margin-left: 35%;
}

.contact .fas {
    color: rgb(1, 126, 134);
}

.contact .far {
    color: rgb(1, 126, 134);
}

.btn-cont {
    background: rgb(1, 126, 134);
    color: white;
}

.btn-cont:hover {
    color: white;
    border-radius: 10px 20px 10px 20px;
}


/* End of Contact Us */


/* Connect */

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

#connect .fa-facebook {
    color: #3b5998;
}

#connect .fa-twitter {
    color: #00aced;
}

#connect .fa-google-plus-g {
    color: #dd4b39;
}

#connect.fa-instagram {
    color: #517fa4;
}

#connect .fa-youtube {
    color: #bb0000;
}

#connect .fa-facebook:hover,
#connect.fa-twitter:hover,
#connect .fa-google-plus-g:hover,
#connect .fa-instagram:hover,
#connect .fa-youtube:hover {
    color: #d5d5d5;
}


/* End of Connect */


/* footer */

footer {
    /* font-family: 'Josefin Sans', 'sans-serif'; */
    background-color: rgb(1, 126, 134);
    color: #d5d5d5;
    padding: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/* End of footer */